/* Incidents Page CSS */

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#incidentsTitle{
	text-align: center;
	font-size: xx-large;
}

#incidentsList-timeNP{
	height: 65vh;
	width: 100%;
  	padding-top: 3px;
	padding-right: 13px;
	margin: center;
	border:1px solid black;
  	align-items: left;
	overflow: auto;
}

#incidentsList-distanceNP{
	height: 65vh;
	width: 100%;
  	padding-top: 3px;
	padding-right: 13px;
	margin: center;
	border:1px solid black;
  	align-items: left;
	overflow: auto;
}

.collapsible{
	height: 4rem;
	width: 100%;
  	padding: 5px;
	padding-top: 10px;
	text-align: left;
  	background-color: #DCDCDC;
  	border-radius: 5px;
	border: 0px;
  	margin: 5px;
	margin-left: 0px;
	margin-right: 0px;
  	line-height: 85%;
}

.active{
	height: 6rem;
	border: 2px solid black;
}

.content {
	padding: 0 10px;
	display: none;
	overflow: hidden;
	text-align: left;
	height: 20px;
	background-color: transparent;
}

#repName{
	text-align: left;
	padding-left: 10px;
}

#repTime{
	float: right;
	padding-right: 10px;
}

#repLocation{
	text-align: left;
	padding-left: 10px;
}

#repDistance{
	float: right;
	padding-right: 10px;
}

#backButtonStyle{
  width:140px;
  height:40px;
  color: white;
  background-color:black;
  font-size: 20px;
  align-content: center;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 5px;
}



.filterCrimes{
  margin-top: 10px;
  background-color: lightgrey;
  font-size: larger;
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
}

.filterRow{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.filterWrapper{
  display:flex;
  align-items: center;
  font-weight: normal;
}

#filterCrimeText{
  background-color: white;
  width: 110px;
  font-size: 16px;
  height: 40px;
  outline-width: 0;
  border-width: 1px;
  padding:10px;
  margin-right: -1px;
}

#filterCheck{
  margin-right: 10px;
}

/* Dropdown Button */
.dropbtn,.dropbtn:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DCDCDC;
  color: #666666;
  font-size: 20px;
  cursor: pointer;
  outline-width: 0;
  border-width: 1px;
  height: 40px;
  width: 40px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #b4b4b4;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 15px;
  font-weight: normal;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.row2{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#timesort-btn{
  width:50%;
  height: 50px;
  background-color: #DCDCDC;
  border: 1px solid black;
  border-bottom: 0px;
  outline-color: black;
}

#safetysort-btn{
  width:50%;
  height: 50px;
  background-color: #DCDCDC;
  border: 1px solid black;
  border-bottom: 0px;
  outline-color: black;
}