/* Settings Page CSS */

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.settingsPage{
  text-align: center;
  font-size: xx-large;
}

/* "Who To Notify" Settings Buttons */

/* "Who to Notify" Text */
.notifyText{
  text-align: left;
  font-size: x-large;
  background-color: lightgrey;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.notifyText h4{
  margin-left: 20px;
}

/* Notify Buttons */
.notifyButtons{
  display: flex;
  padding: 5px 20px 20px 0px;
  text-align: center;
  background-color: lightgrey;
  border-radius: 5px;
  padding-bottom: 0px;
}

/* Notify Police Button */
#notifyPolice{
  width:33%;
  height:40px;
  color: grey;
  font-size: large;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  outline: 0px;
  margin-right: -1px;
}

/* Notify Contacts Button */
#notifyContacts{
  width:33%;
  height:40px;
  color: grey;
  background-color: white;
  font-size: large;
  border: 1px solid black;
  cursor: pointer;
  outline: 0px;
  margin-right: -1px;
}

/* Notify Both Button */
#notifyBoth{
  width:33%;
  height:40px;
  color: grey;
  background-color: white;
  font-size: large;
  border: 1px solid black;
  cursor: pointer;
  outline: 0px;
}


/* Send Location DIV CSS */
.sendLocationToggle{
  align-items: center;
  margin-top:10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
  background-color: lightgrey;
  border-radius: 5px;
  display: flex;
  justify-content:space-between;
  font-size: larger;
  font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid gray;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: lightgrey;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox-round {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 3px solid white;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: black;
}
      

/* Emergency Contacts CSS */

.emergencyContacts{
  background-color: lightgrey;
  border-radius: 5px;
  margin: 10px 0;
  padding-bottom: 20px;
  padding-top: 15px;
  padding-left: 20px;
}

#contactBox{
  display: flex;
  justify-content:space-between;
  flex-direction:row;
  margin-right: 20px;
  align-items: center;
}

.vertical-menu {
  width: 140px;
  height: 80px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: white;
  color: black;
  display: block;
  padding: 8px;
  text-decoration: none;
  font-size: 17px;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

#contactButtonStyle{
  width:150px;
  height:35px;
  color: white;
  background-color:black;
  font-size: large;
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
}

.smsBox{
  text-align: left;
  background-color: lightgrey;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
  font-size: larger;
  font-weight: bold;
}

.filterCrimes{
  text-align: left;
  background-color: lightgrey;
  border-radius: 5px;
  margin: 10px 0;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: larger;
  font-weight: bold;
}

.filterRow{
  display: flex;
  justify-content: space-between;
}

.filterWrapper{
  display:flex;
  align-items: center;
  margin-right: 20px;
  font-weight: normal;
}

#filterCrimeText{
  background-color: #DCDCDC;
  font-size: 15px;
  width: 55%;
  height: 40px;
  outline-width: 0;
  border-width: 1px;
  padding:10px;
}

#filterCheck{
  margin-right: 10px;
}

/* Dropdown Button */
.dropbtn,.dropbtn:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DCDCDC;
  color: #666666;
  font-size: 20px;
  cursor: pointer;
  outline-width: 0;
  border-width: 1px;
  height: 40px;
  width: 40px;
  border-left: 0px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #b4b4b4;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 15px;
  font-weight: normal;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#backButtonStyle{
  width:140px;
  height:40px;
  color: white;
  background-color:black;
  font-size: 20px;
  align-content: center;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 10px;
}
